Library/
ProjectSettings/
Temp/
UnityPackageManager/manifest.json
.vs/
ProjectProgrammer-1.csproj
ProjectProgrammer-1.Editor.csproj
ProjectProgrammer-1.sln
Assets/Resources/
Assets/Resources.meta
obj/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Logs/Packages-Update.log
Packages/manifest.json
Assets/Plugins/
Assets/Plugins.meta
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-Editor-firstpass.csproj
